In [1]:
# Importing Files
import numpy as np
import pandas as pd
import seaborn as sn
import keras 
from keras import models
from keras import layers
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler, LabelBinarizer

Using TensorFlow backend.

In [2]:
train_data = pd.read_csv('train_data.csv')

In [3]:
train_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [5]:
# Dropping Loan_ID, Gender and Property_Area
train_data = train_data.drop(['Loan_ID', 'Gender', 'Property_Area'], axis = 1)

In [6]:
train_data

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Y
1,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,N
2,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Y
3,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Y
4,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Y
5,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Y
6,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Y
7,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,N
8,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Y
9,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,N
10,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Y
11,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Y
12,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Y
13,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,N
14,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Y
15,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Y
16,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Y
17,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,N
18,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,N
19,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Y
20,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,N
21,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Y
22,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,N
23,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,N
24,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,N
25,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Y
26,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Y
27,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Y
28,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,N
29,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Y
...,...,...,...,...,...,...,...,...,...,...
584,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,N
585,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,N
586,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Y
587,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Y
588,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Y
589,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,N
590,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Y
591,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,N
592,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Y
593,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Y
594,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Y
595,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Y
596,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,N
597,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,N
598,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Y
599,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Y
600,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,N
601,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Y
602,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Y
603,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Y
604,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Y
605,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,N
606,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Y
607,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Y
608,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Y
609,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Y
610,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Y
611,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Y
612,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Y
613,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,N

In [7]:
train_data = train_data.replace("Yes",1)
train_data = train_data.replace("No",0)
train_data = train_data.replace("Graduate",1)
train_data = train_data.replace("Not Graduate",0)
train_data = train_data.replace("Y",1)
train_data = train_data.replace("N",0)

In [8]:
train_data

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,0.0,0,1,0.0,5849,0.0,NaN,360.0,1.0,1
1,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,0
2,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,1
3,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,1
4,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,1
5,1.0,2,1,1.0,5417,4196.0,267.0,360.0,1.0,1
6,1.0,0,0,0.0,2333,1516.0,95.0,360.0,1.0,1
7,1.0,3+,1,0.0,3036,2504.0,158.0,360.0,0.0,0
8,1.0,2,1,0.0,4006,1526.0,168.0,360.0,1.0,1
9,1.0,1,1,0.0,12841,10968.0,349.0,360.0,1.0,0
10,1.0,2,1,0.0,3200,700.0,70.0,360.0,1.0,1
11,1.0,2,1,NaN,2500,1840.0,109.0,360.0,1.0,1
12,1.0,2,1,0.0,3073,8106.0,200.0,360.0,1.0,1
13,0.0,0,1,0.0,1853,2840.0,114.0,360.0,1.0,0
14,1.0,2,1,0.0,1299,1086.0,17.0,120.0,1.0,1
15,0.0,0,1,0.0,4950,0.0,125.0,360.0,1.0,1
16,0.0,1,0,0.0,3596,0.0,100.0,240.0,NaN,1
17,0.0,0,1,0.0,3510,0.0,76.0,360.0,0.0,0
18,1.0,0,0,0.0,4887,0.0,133.0,360.0,1.0,0
19,1.0,0,1,NaN,2600,3500.0,115.0,NaN,1.0,1
20,1.0,0,0,0.0,7660,0.0,104.0,360.0,0.0,0
21,1.0,1,1,0.0,5955,5625.0,315.0,360.0,1.0,1
22,1.0,0,0,0.0,2600,1911.0,116.0,360.0,0.0,0
23,1.0,2,0,0.0,3365,1917.0,112.0,360.0,0.0,0
24,1.0,1,1,NaN,3717,2925.0,151.0,360.0,NaN,0
25,1.0,0,1,1.0,9560,0.0,191.0,360.0,1.0,1
26,1.0,0,1,0.0,2799,2253.0,122.0,360.0,1.0,1
27,1.0,2,0,0.0,4226,1040.0,110.0,360.0,1.0,1
28,0.0,0,0,0.0,1442,0.0,35.0,360.0,1.0,0
29,0.0,2,1,NaN,3750,2083.0,120.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...
584,1.0,1,1,0.0,2787,1917.0,146.0,360.0,0.0,0
585,1.0,1,1,0.0,4283,3000.0,172.0,84.0,1.0,0
586,1.0,0,1,0.0,2297,1522.0,104.0,360.0,1.0,1
587,0.0,0,0,0.0,2165,0.0,70.0,360.0,1.0,1
588,0.0,0,1,0.0,4750,0.0,94.0,360.0,1.0,1
589,1.0,2,1,1.0,2726,0.0,106.0,360.0,0.0,0
590,1.0,0,1,0.0,3000,3416.0,56.0,180.0,1.0,1
591,1.0,2,1,1.0,6000,0.0,205.0,240.0,1.0,0
592,0.0,3+,1,1.0,9357,0.0,292.0,360.0,1.0,1
593,1.0,0,1,0.0,3859,3300.0,142.0,180.0,1.0,1
594,1.0,0,1,1.0,16120,0.0,260.0,360.0,1.0,1
595,0.0,0,0,0.0,3833,0.0,110.0,360.0,1.0,1
596,1.0,2,0,1.0,6383,1000.0,187.0,360.0,1.0,0
597,0.0,NaN,1,0.0,2987,0.0,88.0,360.0,0.0,0
598,1.0,0,1,1.0,9963,0.0,180.0,360.0,1.0,1
599,1.0,2,1,0.0,5780,0.0,192.0,360.0,1.0,1
600,0.0,3+,1,NaN,416,41667.0,350.0,180.0,NaN,0
601,1.0,0,0,NaN,2894,2792.0,155.0,360.0,1.0,1
602,1.0,3+,1,0.0,5703,0.0,128.0,360.0,1.0,1
603,0.0,0,1,0.0,3676,4301.0,172.0,360.0,1.0,1
604,1.0,1,1,0.0,12000,0.0,496.0,360.0,1.0,1
605,1.0,0,0,0.0,2400,3800.0,NaN,180.0,1.0,0
606,1.0,1,1,0.0,3400,2500.0,173.0,360.0,1.0,1
607,1.0,2,0,0.0,3987,1411.0,157.0,360.0,1.0,1
608,1.0,0,1,0.0,3232,1950.0,108.0,360.0,1.0,1
609,0.0,0,1,0.0,2900,0.0,71.0,360.0,1.0,1
610,1.0,3+,1,0.0,4106,0.0,40.0,180.0,1.0,1
611,1.0,1,1,0.0,8072,240.0,253.0,360.0,1.0,1
612,1.0,2,1,0.0,7583,0.0,187.0,360.0,1.0,1
613,0.0,0,1,1.0,4583,0.0,133.0,360.0,0.0,0

In [9]:
# Filling the NaN values in the Dataset
train_data = train_data.fillna(0)

In [10]:
train_data

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,0.0,0,1,0.0,5849,0.0,0.0,360.0,1.0,1
1,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,0
2,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,1
3,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,1
4,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,1
5,1.0,2,1,1.0,5417,4196.0,267.0,360.0,1.0,1
6,1.0,0,0,0.0,2333,1516.0,95.0,360.0,1.0,1
7,1.0,3+,1,0.0,3036,2504.0,158.0,360.0,0.0,0
8,1.0,2,1,0.0,4006,1526.0,168.0,360.0,1.0,1
9,1.0,1,1,0.0,12841,10968.0,349.0,360.0,1.0,0
10,1.0,2,1,0.0,3200,700.0,70.0,360.0,1.0,1
11,1.0,2,1,0.0,2500,1840.0,109.0,360.0,1.0,1
12,1.0,2,1,0.0,3073,8106.0,200.0,360.0,1.0,1
13,0.0,0,1,0.0,1853,2840.0,114.0,360.0,1.0,0
14,1.0,2,1,0.0,1299,1086.0,17.0,120.0,1.0,1
15,0.0,0,1,0.0,4950,0.0,125.0,360.0,1.0,1
16,0.0,1,0,0.0,3596,0.0,100.0,240.0,0.0,1
17,0.0,0,1,0.0,3510,0.0,76.0,360.0,0.0,0
18,1.0,0,0,0.0,4887,0.0,133.0,360.0,1.0,0
19,1.0,0,1,0.0,2600,3500.0,115.0,0.0,1.0,1
20,1.0,0,0,0.0,7660,0.0,104.0,360.0,0.0,0
21,1.0,1,1,0.0,5955,5625.0,315.0,360.0,1.0,1
22,1.0,0,0,0.0,2600,1911.0,116.0,360.0,0.0,0
23,1.0,2,0,0.0,3365,1917.0,112.0,360.0,0.0,0
24,1.0,1,1,0.0,3717,2925.0,151.0,360.0,0.0,0
25,1.0,0,1,1.0,9560,0.0,191.0,360.0,1.0,1
26,1.0,0,1,0.0,2799,2253.0,122.0,360.0,1.0,1
27,1.0,2,0,0.0,4226,1040.0,110.0,360.0,1.0,1
28,0.0,0,0,0.0,1442,0.0,35.0,360.0,1.0,0
29,0.0,2,1,0.0,3750,2083.0,120.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...
584,1.0,1,1,0.0,2787,1917.0,146.0,360.0,0.0,0
585,1.0,1,1,0.0,4283,3000.0,172.0,84.0,1.0,0
586,1.0,0,1,0.0,2297,1522.0,104.0,360.0,1.0,1
587,0.0,0,0,0.0,2165,0.0,70.0,360.0,1.0,1
588,0.0,0,1,0.0,4750,0.0,94.0,360.0,1.0,1
589,1.0,2,1,1.0,2726,0.0,106.0,360.0,0.0,0
590,1.0,0,1,0.0,3000,3416.0,56.0,180.0,1.0,1
591,1.0,2,1,1.0,6000,0.0,205.0,240.0,1.0,0
592,0.0,3+,1,1.0,9357,0.0,292.0,360.0,1.0,1
593,1.0,0,1,0.0,3859,3300.0,142.0,180.0,1.0,1
594,1.0,0,1,1.0,16120,0.0,260.0,360.0,1.0,1
595,0.0,0,0,0.0,3833,0.0,110.0,360.0,1.0,1
596,1.0,2,0,1.0,6383,1000.0,187.0,360.0,1.0,0
597,0.0,0,1,0.0,2987,0.0,88.0,360.0,0.0,0
598,1.0,0,1,1.0,9963,0.0,180.0,360.0,1.0,1
599,1.0,2,1,0.0,5780,0.0,192.0,360.0,1.0,1
600,0.0,3+,1,0.0,416,41667.0,350.0,180.0,0.0,0
601,1.0,0,0,0.0,2894,2792.0,155.0,360.0,1.0,1
602,1.0,3+,1,0.0,5703,0.0,128.0,360.0,1.0,1
603,0.0,0,1,0.0,3676,4301.0,172.0,360.0,1.0,1
604,1.0,1,1,0.0,12000,0.0,496.0,360.0,1.0,1
605,1.0,0,0,0.0,2400,3800.0,0.0,180.0,1.0,0
606,1.0,1,1,0.0,3400,2500.0,173.0,360.0,1.0,1
607,1.0,2,0,0.0,3987,1411.0,157.0,360.0,1.0,1
608,1.0,0,1,0.0,3232,1950.0,108.0,360.0,1.0,1
609,0.0,0,1,0.0,2900,0.0,71.0,360.0,1.0,1
610,1.0,3+,1,0.0,4106,0.0,40.0,180.0,1.0,1
611,1.0,1,1,0.0,8072,240.0,253.0,360.0,1.0,1
612,1.0,2,1,0.0,7583,0.0,187.0,360.0,1.0,1
613,0.0,0,1,1.0,4583,0.0,133.0,360.0,0.0,0

In [11]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 10 columns):
Married              614 non-null float64
Dependents           614 non-null object
Education            614 non-null int64
Self_Employed        614 non-null float64
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
Loan_Status          614 non-null int64
dtypes: float64(6), int64(3), object(1)
memory usage: 48.0+ KB

In [12]:
train_targets = train_data['Loan_Status']

In [13]:
train_data = train_data.drop('Loan_Status',axis = 1)

In [14]:
train_data.shape

(614, 9)

In [15]:
train_data.Dependents.unique()

array(['0', '1', '2', '3+', 0], dtype=object)

In [16]:
train_data = train_data.replace("3+",3)

In [17]:
train_data = train_data.astype('float64')

In [18]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 9 columns):
Married              614 non-null float64
Dependents           614 non-null float64
Education            614 non-null float64
Self_Employed        614 non-null float64
ApplicantIncome      614 non-null float64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
dtypes: float64(9)
memory usage: 43.2 KB

In [19]:
train_data = pd.DataFrame(train_data)

In [20]:
train_data

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0.0,0.0,1.0,0.0,5849.0,0.0,0.0,360.0,1.0
1,1.0,1.0,1.0,0.0,4583.0,1508.0,128.0,360.0,1.0
2,1.0,0.0,1.0,1.0,3000.0,0.0,66.0,360.0,1.0
3,1.0,0.0,0.0,0.0,2583.0,2358.0,120.0,360.0,1.0
4,0.0,0.0,1.0,0.0,6000.0,0.0,141.0,360.0,1.0
5,1.0,2.0,1.0,1.0,5417.0,4196.0,267.0,360.0,1.0
6,1.0,0.0,0.0,0.0,2333.0,1516.0,95.0,360.0,1.0
7,1.0,3.0,1.0,0.0,3036.0,2504.0,158.0,360.0,0.0
8,1.0,2.0,1.0,0.0,4006.0,1526.0,168.0,360.0,1.0
9,1.0,1.0,1.0,0.0,12841.0,10968.0,349.0,360.0,1.0
10,1.0,2.0,1.0,0.0,3200.0,700.0,70.0,360.0,1.0
11,1.0,2.0,1.0,0.0,2500.0,1840.0,109.0,360.0,1.0
12,1.0,2.0,1.0,0.0,3073.0,8106.0,200.0,360.0,1.0
13,0.0,0.0,1.0,0.0,1853.0,2840.0,114.0,360.0,1.0
14,1.0,2.0,1.0,0.0,1299.0,1086.0,17.0,120.0,1.0
15,0.0,0.0,1.0,0.0,4950.0,0.0,125.0,360.0,1.0
16,0.0,1.0,0.0,0.0,3596.0,0.0,100.0,240.0,0.0
17,0.0,0.0,1.0,0.0,3510.0,0.0,76.0,360.0,0.0
18,1.0,0.0,0.0,0.0,4887.0,0.0,133.0,360.0,1.0
19,1.0,0.0,1.0,0.0,2600.0,3500.0,115.0,0.0,1.0
20,1.0,0.0,0.0,0.0,7660.0,0.0,104.0,360.0,0.0
21,1.0,1.0,1.0,0.0,5955.0,5625.0,315.0,360.0,1.0
22,1.0,0.0,0.0,0.0,2600.0,1911.0,116.0,360.0,0.0
23,1.0,2.0,0.0,0.0,3365.0,1917.0,112.0,360.0,0.0
24,1.0,1.0,1.0,0.0,3717.0,2925.0,151.0,360.0,0.0
25,1.0,0.0,1.0,1.0,9560.0,0.0,191.0,360.0,1.0
26,1.0,0.0,1.0,0.0,2799.0,2253.0,122.0,360.0,1.0
27,1.0,2.0,0.0,0.0,4226.0,1040.0,110.0,360.0,1.0
28,0.0,0.0,0.0,0.0,1442.0,0.0,35.0,360.0,1.0
29,0.0,2.0,1.0,0.0,3750.0,2083.0,120.0,360.0,1.0
...,...,...,...,...,...,...,...,...,...
584,1.0,1.0,1.0,0.0,2787.0,1917.0,146.0,360.0,0.0
585,1.0,1.0,1.0,0.0,4283.0,3000.0,172.0,84.0,1.0
586,1.0,0.0,1.0,0.0,2297.0,1522.0,104.0,360.0,1.0
587,0.0,0.0,0.0,0.0,2165.0,0.0,70.0,360.0,1.0
588,0.0,0.0,1.0,0.0,4750.0,0.0,94.0,360.0,1.0
589,1.0,2.0,1.0,1.0,2726.0,0.0,106.0,360.0,0.0
590,1.0,0.0,1.0,0.0,3000.0,3416.0,56.0,180.0,1.0
591,1.0,2.0,1.0,1.0,6000.0,0.0,205.0,240.0,1.0
592,0.0,3.0,1.0,1.0,9357.0,0.0,292.0,360.0,1.0
593,1.0,0.0,1.0,0.0,3859.0,3300.0,142.0,180.0,1.0
594,1.0,0.0,1.0,1.0,16120.0,0.0,260.0,360.0,1.0
595,0.0,0.0,0.0,0.0,3833.0,0.0,110.0,360.0,1.0
596,1.0,2.0,0.0,1.0,6383.0,1000.0,187.0,360.0,1.0
597,0.0,0.0,1.0,0.0,2987.0,0.0,88.0,360.0,0.0
598,1.0,0.0,1.0,1.0,9963.0,0.0,180.0,360.0,1.0
599,1.0,2.0,1.0,0.0,5780.0,0.0,192.0,360.0,1.0
600,0.0,3.0,1.0,0.0,416.0,41667.0,350.0,180.0,0.0
601,1.0,0.0,0.0,0.0,2894.0,2792.0,155.0,360.0,1.0
602,1.0,3.0,1.0,0.0,5703.0,0.0,128.0,360.0,1.0
603,0.0,0.0,1.0,0.0,3676.0,4301.0,172.0,360.0,1.0
604,1.0,1.0,1.0,0.0,12000.0,0.0,496.0,360.0,1.0
605,1.0,0.0,0.0,0.0,2400.0,3800.0,0.0,180.0,1.0
606,1.0,1.0,1.0,0.0,3400.0,2500.0,173.0,360.0,1.0
607,1.0,2.0,0.0,0.0,3987.0,1411.0,157.0,360.0,1.0
608,1.0,0.0,1.0,0.0,3232.0,1950.0,108.0,360.0,1.0
609,0.0,0.0,1.0,0.0,2900.0,0.0,71.0,360.0,1.0
610,1.0,3.0,1.0,0.0,4106.0,0.0,40.0,180.0,1.0
611,1.0,1.0,1.0,0.0,8072.0,240.0,253.0,360.0,1.0
612,1.0,2.0,1.0,0.0,7583.0,0.0,187.0,360.0,1.0
613,0.0,0.0,1.0,1.0,4583.0,0.0,133.0,360.0,0.0

In [21]:
# Processing Data
scalar = MinMaxScaler()
train_data = scalar.fit_transform(train_data)
# Converting the Data into Cateogrical Form
train_data = StandardScaler().fit_transform(train_data)
train_targets = LabelBinarizer().fit_transform(train_targets)

In [22]:
X = train_data

In [23]:
Y = train_targets

In [24]:
Y

array([[1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0]])

In [25]:
model = models.Sequential()
model.add(layers.Dense(128, activation="relu", input_shape=(9,)))
model.add(layers.Dense(64, activation="relu"))
model.add(layers.Dense(16, activation="relu"))
model.add(layers.Dense(1, activation="sigmoid"))

In [26]:
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])

model.fit(X, Y, epochs=100, batch_size=10)

Epoch 1/100
614/614 [==============================] - 2s 3ms/step - loss: 0.5950 - acc: 0.7199
Epoch 2/100
614/614 [==============================] - 0s 227us/step - loss: 0.5370 - acc: 0.7671
Epoch 3/100
614/614 [==============================] - 0s 210us/step - loss: 0.5238 - acc: 0.7638
Epoch 4/100
614/614 [==============================] - 0s 219us/step - loss: 0.5131 - acc: 0.7752
Epoch 5/100
614/614 [==============================] - 0s 222us/step - loss: 0.5084 - acc: 0.7769
Epoch 6/100
614/614 [==============================] - 0s 217us/step - loss: 0.5058 - acc: 0.7720
Epoch 7/100
614/614 [==============================] - 0s 205us/step - loss: 0.4989 - acc: 0.7687
Epoch 8/100
614/614 [==============================] - 0s 203us/step - loss: 0.4968 - acc: 0.7915
Epoch 9/100
614/614 [==============================] - 0s 207us/step - loss: 0.4942 - acc: 0.7801
Epoch 10/100
614/614 [==============================] - 0s 196us/step - loss: 0.4890 - acc: 0.7850
Epoch 11/100
614/614 [==============================] - 0s 247us/step - loss: 0.4827 - acc: 0.7866
Epoch 12/100
614/614 [==============================] - 0s 214us/step - loss: 0.4787 - acc: 0.7915
Epoch 13/100
614/614 [==============================] - 0s 211us/step - loss: 0.4772 - acc: 0.7866
Epoch 14/100
614/614 [==============================] - 0s 207us/step - loss: 0.4710 - acc: 0.7964
Epoch 15/100
614/614 [==============================] - 0s 198us/step - loss: 0.4675 - acc: 0.7866
Epoch 16/100
614/614 [==============================] - 0s 197us/step - loss: 0.4657 - acc: 0.7866
Epoch 17/100
614/614 [==============================] - 0s 218us/step - loss: 0.4634 - acc: 0.7899
Epoch 18/100
614/614 [==============================] - 0s 237us/step - loss: 0.4589 - acc: 0.7932
Epoch 19/100
614/614 [==============================] - 0s 200us/step - loss: 0.4527 - acc: 0.7883
Epoch 20/100
614/614 [==============================] - 0s 229us/step - loss: 0.4505 - acc: 0.7980
Epoch 21/100
614/614 [==============================] - 0s 316us/step - loss: 0.4485 - acc: 0.8062
Epoch 22/100
614/614 [==============================] - 0s 253us/step - loss: 0.4450 - acc: 0.8062
Epoch 23/100
614/614 [==============================] - 0s 343us/step - loss: 0.4419 - acc: 0.7980
Epoch 24/100
614/614 [==============================] - 0s 261us/step - loss: 0.4403 - acc: 0.8062
Epoch 25/100
614/614 [==============================] - 0s 226us/step - loss: 0.4335 - acc: 0.8029
Epoch 26/100
614/614 [==============================] - 0s 226us/step - loss: 0.4305 - acc: 0.8013
Epoch 27/100
614/614 [==============================] - 0s 220us/step - loss: 0.4238 - acc: 0.8225
Epoch 28/100
614/614 [==============================] - 0s 234us/step - loss: 0.4194 - acc: 0.8208
Epoch 29/100
614/614 [==============================] - 0s 342us/step - loss: 0.4230 - acc: 0.8176
Epoch 30/100
614/614 [==============================] - 0s 242us/step - loss: 0.4194 - acc: 0.8208
Epoch 31/100
614/614 [==============================] - 0s 246us/step - loss: 0.4141 - acc: 0.8208
Epoch 32/100
614/614 [==============================] - 0s 293us/step - loss: 0.4070 - acc: 0.8306
Epoch 33/100
614/614 [==============================] - 0s 313us/step - loss: 0.4049 - acc: 0.8257
Epoch 34/100
614/614 [==============================] - 0s 207us/step - loss: 0.3944 - acc: 0.8290
Epoch 35/100
614/614 [==============================] - 0s 208us/step - loss: 0.4037 - acc: 0.8322
Epoch 36/100
614/614 [==============================] - 0s 213us/step - loss: 0.3884 - acc: 0.8371
Epoch 37/100
614/614 [==============================] - 0s 220us/step - loss: 0.3932 - acc: 0.8257
Epoch 38/100
614/614 [==============================] - 0s 380us/step - loss: 0.3850 - acc: 0.8388
Epoch 39/100
614/614 [==============================] - 0s 208us/step - loss: 0.3863 - acc: 0.8322
Epoch 40/100
614/614 [==============================] - 0s 237us/step - loss: 0.3810 - acc: 0.8469
Epoch 41/100
614/614 [==============================] - 0s 242us/step - loss: 0.3825 - acc: 0.8388
Epoch 42/100
614/614 [==============================] - 0s 289us/step - loss: 0.3722 - acc: 0.8469
Epoch 43/100
614/614 [==============================] - 0s 304us/step - loss: 0.3631 - acc: 0.8420
Epoch 44/100
614/614 [==============================] - 0s 219us/step - loss: 0.3680 - acc: 0.8518
Epoch 45/100
614/614 [==============================] - 0s 207us/step - loss: 0.3723 - acc: 0.8534
Epoch 46/100
614/614 [==============================] - 0s 216us/step - loss: 0.3594 - acc: 0.8485
Epoch 47/100
614/614 [==============================] - 0s 313us/step - loss: 0.3622 - acc: 0.8485
Epoch 48/100
614/614 [==============================] - 0s 251us/step - loss: 0.3505 - acc: 0.8567
Epoch 49/100
614/614 [==============================] - 0s 218us/step - loss: 0.3550 - acc: 0.8616
Epoch 50/100
614/614 [==============================] - 0s 218us/step - loss: 0.3474 - acc: 0.8599
Epoch 51/100
614/614 [==============================] - 0s 209us/step - loss: 0.3515 - acc: 0.8550
Epoch 52/100
614/614 [==============================] - 0s 225us/step - loss: 0.3409 - acc: 0.8664
Epoch 53/100
614/614 [==============================] - 0s 226us/step - loss: 0.3435 - acc: 0.8599
Epoch 54/100
614/614 [==============================] - 0s 204us/step - loss: 0.3424 - acc: 0.8518
Epoch 55/100
614/614 [==============================] - 0s 201us/step - loss: 0.3384 - acc: 0.8648
Epoch 56/100
614/614 [==============================] - 0s 227us/step - loss: 0.3307 - acc: 0.8713
Epoch 57/100
614/614 [==============================] - 0s 221us/step - loss: 0.3273 - acc: 0.8713
Epoch 58/100
614/614 [==============================] - 0s 217us/step - loss: 0.3238 - acc: 0.8713
Epoch 59/100
614/614 [==============================] - 0s 220us/step - loss: 0.3262 - acc: 0.8664
Epoch 60/100
614/614 [==============================] - 0s 238us/step - loss: 0.3240 - acc: 0.8681
Epoch 61/100
614/614 [==============================] - 0s 245us/step - loss: 0.3195 - acc: 0.8746
Epoch 62/100
614/614 [==============================] - 0s 229us/step - loss: 0.3182 - acc: 0.8616
Epoch 63/100
614/614 [==============================] - 0s 209us/step - loss: 0.3059 - acc: 0.8697
Epoch 64/100
614/614 [==============================] - 0s 213us/step - loss: 0.3123 - acc: 0.8713
Epoch 65/100
614/614 [==============================] - 0s 239us/step - loss: 0.3050 - acc: 0.8811
Epoch 66/100
614/614 [==============================] - 0s 216us/step - loss: 0.3071 - acc: 0.8746
Epoch 67/100
614/614 [==============================] - 0s 326us/step - loss: 0.3033 - acc: 0.8762
Epoch 68/100
614/614 [==============================] - 0s 234us/step - loss: 0.3096 - acc: 0.8648
Epoch 69/100
614/614 [==============================] - 0s 327us/step - loss: 0.2947 - acc: 0.8795
Epoch 70/100
614/614 [==============================] - 0s 208us/step - loss: 0.3007 - acc: 0.8746
Epoch 71/100
614/614 [==============================] - 0s 257us/step - loss: 0.2917 - acc: 0.8811
Epoch 72/100
614/614 [==============================] - 0s 283us/step - loss: 0.2977 - acc: 0.8779
Epoch 73/100
614/614 [==============================] - 0s 280us/step - loss: 0.2912 - acc: 0.8795
Epoch 74/100
614/614 [==============================] - 0s 216us/step - loss: 0.2936 - acc: 0.8827
Epoch 75/100
614/614 [==============================] - 0s 248us/step - loss: 0.2828 - acc: 0.8844
Epoch 76/100
614/614 [==============================] - 0s 310us/step - loss: 0.2795 - acc: 0.8941
Epoch 77/100
614/614 [==============================] - 0s 291us/step - loss: 0.2901 - acc: 0.8811
Epoch 78/100
614/614 [==============================] - 0s 310us/step - loss: 0.2793 - acc: 0.8876
Epoch 79/100
614/614 [==============================] - 0s 265us/step - loss: 0.2766 - acc: 0.8876
Epoch 80/100
614/614 [==============================] - 0s 293us/step - loss: 0.2806 - acc: 0.8860
Epoch 81/100
614/614 [==============================] - 0s 304us/step - loss: 0.2722 - acc: 0.8827
Epoch 82/100
614/614 [==============================] - 0s 320us/step - loss: 0.2865 - acc: 0.8713
Epoch 83/100

614/614 [==============================] - 0s 300us/step - loss: 0.2731 - acc: 0.8762
Epoch 84/100
614/614 [==============================] - 0s 336us/step - loss: 0.2771 - acc: 0.8811
Epoch 85/100
614/614 [==============================] - 0s 280us/step - loss: 0.2734 - acc: 0.8893
Epoch 86/100
614/614 [==============================] - 0s 338us/step - loss: 0.2711 - acc: 0.8827
Epoch 87/100
614/614 [==============================] - 0s 278us/step - loss: 0.2647 - acc: 0.8941
Epoch 88/100
614/614 [==============================] - 0s 349us/step - loss: 0.2724 - acc: 0.8844
Epoch 89/100
614/614 [==============================] - 0s 293us/step - loss: 0.2747 - acc: 0.8860
Epoch 90/100
614/614 [==============================] - 0s 325us/step - loss: 0.2659 - acc: 0.9023
Epoch 91/100
614/614 [==============================] - 0s 338us/step - loss: 0.2634 - acc: 0.8811
Epoch 92/100
614/614 [==============================] - 0s 395us/step - loss: 0.2562 - acc: 0.8925
Epoch 93/100
614/614 [==============================] - 0s 383us/step - loss: 0.2750 - acc: 0.8860
Epoch 94/100
614/614 [==============================] - 0s 280us/step - loss: 0.2589 - acc: 0.8925
Epoch 95/100
614/614 [==============================] - 0s 329us/step - loss: 0.2542 - acc: 0.8941
Epoch 96/100
614/614 [==============================] - 0s 216us/step - loss: 0.2459 - acc: 0.8941
Epoch 97/100
614/614 [==============================] - 0s 362us/step - loss: 0.2590 - acc: 0.8925
Epoch 98/100
614/614 [==============================] - 0s 243us/step - loss: 0.2389 - acc: 0.8958
Epoch 99/100
614/614 [==============================] - 0s 289us/step - loss: 0.2462 - acc: 0.8958
Epoch 100/100
614/614 [==============================] - 0s 320us/step - loss: 0.2559 - acc: 0.8990